body{
    font-family: 'Baloo 2', sans-rerif;
    background-color: rgb(35,35,35);
}
/*==========================FRONT-PAGE ====================*/

.front-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/v748-toon-131.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 10%;
    
    
    h1{
    position: relative;
    top: 400px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
    }
   
    p{
        position: relative;
        top: 390px;
        text-align: center;
        color: rgba(206, 184, 137, 0.7);
        text-transform: uppercase;
        font-size: 0.9rem;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    }
}


/*===============================================================*/
/*==========================HEADER MED LÄNKAR ====================*/
    

header{
    position: fixed;
    top: 20px;
    text-align: right;
    padding-right: 40px;
    width: 100%;
    
    .dropBtn{
        width: 65px;
        height: 40px;
        border: none;
        background-color: rgb(179, 158, 114);
        &:hover{
            background-color: rgb(95, 84, 61);
        }
    }
    .drop-down {
        visibility: hidden;
        opacity: 50%;
        width: 100%;
        padding-right: 40px;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    li{
        list-style: none;
        padding-bottom: 10px;
        &:hover{
            background-color: rgba(206, 184, 137,0.7);
        }
    }

    a{
        text-decoration: none;
        color: black;
        
   
    }
    
    .dropDown:hover .drop-down {
        visibility: visible;
    }
}
    



  
/*===============================================================*/

.page-w-content{

   box-shadow: inset 0 15px 20px -15px rgb(0,0,0);
   
}

/*==================FLEX-BOX OM MIG ============================*/

.flex-about-me{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    box-shadow:  0 15px 20px -15px rgb(0,0,0);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 30px;
    padding-top: 70px;
     
    .profile-img{
        width: 50%;
        
    
        img{
            width: 200px;
            height: auto;
            border-radius: 50%;
        }
    }

    .about-me{
        width: 50%;
        ul{
            padding-top: 80px;
            padding-left: 0;
        }
        
        li{
            font-weight: 500;
            padding-bottom: 5px;
            font-size: 0.8rem;
            list-style: none;
            color: $text-color;
        }
        a{
            text-decoration: none;
        }
        i{
            padding-top: 15px;
            font-size: 1.7rem;
            color: $text-color;
        }
        i.fa-brands.fa-linkedin{
            padding-right: 10px;
        }
        i:hover{
            color: $main-color;
        }
    }

    .other{
        width: 100%;
        padding-top: 30px;
        font-size: 0.8rem;
        color: $text-color;
        .rating{
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;

        
     }
            .dot-filled{
                height: 10px;
                width: 10px;
                background-color: rgb(187, 171, 137);
                border-radius: 50%;
                display: inline-block;
            
            }
            .dot{
                height: 10px;
                width: 10px;
                background-color: rgb(223, 221, 221);
                border-radius: 50%;
                display: inline-block;

            }
        
    }
}
    
/*=============================================================*/

/*==================TEXT- OM MIG ============================*/
/*
.hiss-pitch{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    position: relative;
    
    h3{
        width: fit-content;
        height: auto;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
        background-color:  rgba(62, 105, 62, 0.7);
        position: relative;
    
       
    }
    p{
        width: 80%;
    }

}

/*=============================================================*/