body{
    font-family: 'Baloo 2', sans-rerif;
    background-image: url('/images/background.jpg');
}
main{
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
/*==========================HEADER MED LÄNKAR ====================*/

header{
    background-color: rgb(99, 141, 99);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    
    ul{
        padding: 0;
    }

    li{
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }
        li:hover{
        border-bottom: 1px solid black;
        }
    a{
        text-decoration: none;
        color: $text-color;
    }
}
/*===============================================================*/


h1{
    position: relative;
    top: 80px;
    text-align: center;


}
/*==================FLEX-BOX OM MIG ============================*/

.flex-about-me{
    display: flex;
    text-align: center;
    font-size: 1rem;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 100px;
    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(62, 105, 62, 0.7);
     
    .profile-img{
        width: 33%;
        display: flex;
        justify-content: center;
     
        img{
            width: 100px;
            height: auto;
            border-radius: 50%;
            
            box-shadow: 1px 2px 3px 3px rgb(58, 95, 58);
        }
        
    }

    .about-me{
        width: 33%;

        ul{
            padding-top: 10px;
            padding-left: 0;
        }
        
        li{
            font-weight: 500;
            padding-bottom: 5px;
            font-size: 0.8rem;
            list-style: none;
        
        }
        a{
            text-decoration: none;
        }
        i{
            padding-top: 15px;
            font-size: 1.7rem;
            color: $text-color;
        }
        i.fa-brands.fa-linkedin{
            padding-right: 10px;
        }
        i:hover{
            color: $main-color;
        }
    }

    .other{
        width: 33%;

        
        .lang-rating{
            font-size: 0.8rem;
            .dot-filled{
                height: 10px;
                width: 10px;
                background-color: rgb(66, 65, 65);
                border-radius: 50%;
                display: inline-block;
                border: 1px solid rgb(187, 185, 185);
            }
            .dot{
                height: 10px;
                width: 10px;
                background-color: rgb(187, 185, 185);
                border-radius: 50%;
                display: inline-block;

            }
        }
    }
}
    
/*=============================================================*/

/*==================TEXT- OM MIG ============================*/

.hiss-pitch{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    position: relative;
    
    h3{
        width: fit-content;
        height: auto;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
        background-color:  rgba(62, 105, 62, 0.7);
        position: relative;
    
       
    }
    p{
        width: 80%;
    }

}
/*=============================================================*/