body {
    font-family: 'Baloo 2', sans-rerif;
    background-color: rgb(35, 35, 35);
}
* {
    margin: 0;
    box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    scroll-behavior: smooth;
}


/*==================== FRONT PAGE ================================
=================================================================*/

.front-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 10%;


    h1 {
        position: relative;
        top: 250px;
        text-align: center;
        color: black;
        text-transform: uppercase;
        text-shadow:
            0 0 20px rgb(223, 205, 167),
            0 0 42px $text-color,
            0 0 82px $text-color,
            0 0 92px $text-color,
            0 0 102px $text-color,
            0 0 151px $text-color;
    }

    p {
        position: relative;
        top: 250px;
        margin-top: 20px;
        text-align: center;
        color: rgba(206, 184, 137, 0.7);
        text-transform: uppercase;
        font-size: 0.9rem;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);

    }
}


/*===============================================================*/



/*=====================KNAPP + MENY =============================
=================================================================*/


nav {
    z-index: 1;
    position: fixed;
    top: 25px;
    left: 25px;


    button {
        width: 75px;
        height: 75px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgb(206, 184, 137);
        color: black;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 600;

        &:hover {
            box-shadow: 0 0 75px rgb(195, 194, 194);
        }
    }

    .menu {
        background-color: rgba(206, 184, 137, 0.7);
        width: 180px;
        min-height: 45vh;
        padding-bottom: 30px;

        ul {
            padding-left: 17px;
        }

        li {
            list-style: none;
            padding-top: 40px;
            padding-right: 10px;

        }

        a {
            text-decoration: none;
            color: black;
            padding: 5px;

            &:hover {
                background-color: rgba(206, 184, 137, 0.7);
                border-radius: 10px;
                padding: 5px;
            }
        }

    }


    button+.menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    button.menu-open+.menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }

}


/*===============================================================*/




/*=====================PAGE WITH CONTENT ==========================
===================================================================*/

.page-w-content {
    /*==================FLEX-BOX OM MIG ============================*/

    .flex-about-me {
        box-shadow: 7px 20px 20px 10px rgba(0, 0, 0, 0.7);
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 30px;
        padding-top: 70px;

        .profile-img {
            width: 50%;

            img {
                width: 200px;
                height: auto;
                border-radius: 50%;
            }
        }

        .about-me {
            width: 50%;

            h3 {
                color: $text-color;
                padding-bottom: 10px;
                padding-top: 50px;
                text-align: left;
                margin-left: 30px;

            }

            ul {

                padding-left: 0;
                text-align: left;
                margin-left: 30px;
            }

            li {
                font-weight: 500;
                padding-bottom: 5px;
                font-size: 0.8rem;
                list-style: none;
                color: $text-color;
            }

            li a {
                color: $text-color;
                text-decoration: none;
            }

            .contact-icon {
                padding-right: 5px;
                color: rgb(194, 194, 194);

            }

            .link-icon {
                padding-top: 15px;
                font-size: 1.7rem;
                color: rgb(194, 194, 194);
                padding-right: 10px;
            }



        }

        .other-info {
            width: 100%;
            padding-top: 10px;

            h3 {
                color: $text-color;
                padding-bottom: 10px;

            }

            p {
                font-size: 0.8rem;
                color: $text-color;
            }

            .rating {
                display: inline-block;
                padding-left: 30px;
                padding-right: 30px;


            }

            .dot-filled {
                height: 10px;
                width: 10px;
                background-color: rgb(187, 171, 137);
                border-radius: 50%;
                display: inline-block;

            }

            .dot {
                height: 10px;
                width: 10px;
                background-color: rgb(223, 221, 221);
                border-radius: 50%;
                display: inline-block;

            }

        }
    }


    /*==================TEXT- OM MIG ============================*/

    .pitch {
        padding-left: 30px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        position: relative;


        h3 {
            width: fit-content;
            height: auto;
            padding: 3px;
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(75, 75, 75);
            color: $text-color;
            position: relative;
        }

        p {
            padding-left: 10px;
            width: 80%;
            color: $text-color;

        }
    }

    /*================== RATINGS ============================*/
    .skill-rating {
        border: 1px solid black;
        margin: auto;
        max-width: 390px;
        margin-bottom: 20px;
        box-shadow: 7px 5px 15px 5px rgba(0, 0, 0, 0.7);

        h3 {
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(35, 35, 35);
            color: $text-color;
            box-shadow: 0 0 45px rgb(162, 161, 161);
            margin-bottom: 20px;
        }

        .grid-rating {
            margin: auto;
            height: auto;
            display: grid;
            padding: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.3fr 1fr 1fr 1fr;

            .grid-heading {
                grid-area: 1 / 3 / 2 / 1;
            }

            .html {
                grid-area: 2 / 2 / 2 / 1;
            }

            .css {
                grid-area: 2 / 2 / 2 / 2;
            }

            .java-script {
                grid-area: 3 / 1 / 3 / 1;
            }

            .c-sharp {
                grid-area: 3 / 2 / 3 / 2;
            }

            .react {
                grid-area: 4 / 1 / 4 / 2;
            }

            .nodeJs {
                grid-area: 4 / 2 / 4 / 2;
            }


            .html,
            .css,
            .java-script,
            .c-sharp,
            .react,
            .node-js {
                border-radius: 20%;
                background-color: rgb(115, 122, 115);
                box-shadow: 7px 5px 15px 5px rgba(0, 0, 0, 0.7);
                text-align: center;
                border: 2px solid rgb(52, 56, 52);
                padding: 20px;
                margin-left: 25px;
                margin-right: 25px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .dot-filled {
                height: 10px;
                width: 10px;
                background-color: $accent-color;
                border-radius: 50%;
                display: inline-block;

            }

            .dot {
                height: 10px;
                width: 10px;
                background-color: rgb(187, 184, 184);
                border-radius: 50%;
                display: inline-block;

            }

            .dot-h-filled {
                background: linear-gradient(to right,
                        $accent-color 0%,
                        $accent-color 50%,
                        rgb(187, 184, 184) 50%,
                        rgb(187, 184, 184) 100%);
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
            }
        }
    }


    /*========= UTBILDNING & ARBETSLIVSERFARENHET ===========*/
    .education {
        background-color: rgb(104, 104, 104);
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 390px;
        box-shadow: 7px 20px 20px 10px rgba(0, 0, 0, 0.7);

        h2 {
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(35, 35, 35);
            color: $text-color;
            width: 50%;
            margin-left: 100px;
            box-shadow: 0 0 45px rgb(162, 161, 161);
            margin-bottom: 10px;
        }

        .f-e-d {
            padding-top: 10px;
            padding-bottom: 20px;
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 10px;
            margin-top: 15px;
            border: 1px solid rgb(35, 35, 35);

            h3 {
                text-transform: uppercase;
            }

            h3,
            h4 {
                text-align: center;
                padding: 5px;
            }

            ul {
                padding-left: 10px;

            }

            li {
                list-style: none;
                padding-left: 20px;
                background-color: rgb(156, 156, 156);
                margin-right: 10px;
            }
        }

        .other-edu {
            padding-top: 10px;
            padding-bottom: 20px;
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 10px;
            border: 1px solid rgb(35, 35, 35);

            h3,
            h4 {
                text-align: center;
                padding: 5px;
            }

            ul {
                padding-left: 10px;

            }

            li {
                list-style: none;
                padding-left: 20px;
                background-color: rgb(156, 156, 156);
                margin-right: 10px;
            }
        }

    }

    .work-experience {
        background-color: rgb(104, 104, 104);
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        max-width: 390px;
        box-shadow: 7px 20px 20px 10px rgba(0, 0, 0, 0.7);

        h2 {
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(35, 35, 35);
            color: $text-color;
            width: 80%;
            margin-left: 40px;
            box-shadow: 0 0 45px rgb(162, 161, 161);
            margin-bottom: 10px;
        }

        h4 {
            text-align: center;
            padding: 5px;
        }

        section {
            padding-top: 10px;
            padding-bottom: 20px;
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 10px;
            margin-top: 15px;
            border: 1px solid rgb(35, 35, 35);

            p {
                padding-left: 20px;
                background-color: rgb(156, 156, 156);
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }

}



/*====================FOTEER ================================
=============================================================*/

footer {
    background-color: rgb(206, 184, 137);
    margin: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;


    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;

    }
}