/*==========================================================================================
======================= PAGE WITH CONTENT ===================================================
============================================================================================*/

.page-w-content {
    margin: auto;
    max-width: 740px;
    padding-top: 50px;


    .flex-about-me {
        margin-bottom: 50px;

        .profile-img {
            width: 33%;
        }

        .about-me {
            width: 33%;
        }

        .other {
            width: 33%;
            padding-top: 80px;
        }
    }


    /*==================TEXT- OM MIG ============================*/

    .pitch {
        padding-left: 130px;
        padding-right: 70px;
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        position: relative;

        h3 {
            width: fit-content;
            height: auto;
            padding: 3px;
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(75, 75, 75);
            color: $text-color;
            position: relative;
        }

        p {
            padding-left: 10px;
            width: 80%;
            color: $text-color;
        }
    }

    /*=============================================================*/

    .skill-rating{
        max-width: 700px;
    

    .grid-rating{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr ;

        .grid-heading { grid-area: 1 / 4 / 2 / 1; }
        .html { grid-area: 2 / 2 / 2 / 1; }
        .css { grid-area: 2 / 2 / 2 / 2; }
        .JavaScript { grid-area: 3 / 4 / 2 / 3; }
        .cSharp { grid-area: 3 / 1 / 3 / 1; }
        .react { grid-area: 3 / 2 / 3 / 2; }
        .nodeJs { grid-area: 3 / 3 / 3 / 3; }
    }

    }

    /*==========================================================================================*/

    .education {
        margin: auto;
        max-width: 700px;
        margin-top: 50px;

        h2 {
            margin-left: 170px
        }
    }

    .work-experience {
        margin: auto;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 100px;

        h2 {
            margin-left: 70px
        }
    }

}


footer {
    padding-left: 200px;
    padding-right: 200px;

}