$accent-color: rgb(25, 56, 26);
$text-color: rgb(206, 184, 137);


* {
    margin: 0;
    box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


@import 'base';

@media screen and (min-width: 740px) {
    @import 'tablet';
}

@media screen and (min-width: 1366px) {
    @import 'desktop';
}